.container {
    margin-left: 20px;
    margin-right: 20px;

    .title {
        padding: 20px 0px !important;
        [class*="ant-page-header-heading-title"] {
            font-size: 22px;
            color: #44566c;
            font-weight: 700;
        }
    }

    .children {
        background-color: #fff;
        padding: 15px;
        min-height: calc(100vh - 147px);
    }
}
