.containerBar {
    height: calc(100vh - 64px);
    float: left;
    position: relative;
    width: 256px;
    padding-top: 10px;
    background: #313a46 !important;

    .header {
        padding: 10px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 1px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: #fff;
        text-align: center;

        img {
            width: 150px;
        }
    }

    .content {
        background-color: #313a46 !important;
    }

    li[class*="ant-menu-item-selected"] {
        background-color: #43556d !important;
    }

    li[class*="ant-menu-item"] {
        font-size: 0.9375rem;
        font-weight: 600;
    }
}

.icon {
    font-size: 1.1rem !important;
    margin-right: 10px;
    margin-top: -1px;
}

.containerBarCollapsed {
    width: 80px !important;
}

.parentMenuCollapsed,
.parentMenuCollapsed.ant-menu-item-selected {
    border: 0 !important;
    margin: 0 !important;
    background: #43556d !important;
    color: #fff !important;
    cursor: default;

    &:hover {
        color: #fff;
    }
}
