.container {
    .inputForm {
        margin-bottom: 17px;

        input {
            width: 100%;
        }
    }

    .optionsField {
        margin-top: 20px;

        button {
            position: relative;
            top: 25px;
        }
        .items {
            .name {
                width: calc(100% - 50px);
            }

            .trash {
                cursor: pointer;
            }
        }
    }
}
