.container {
    .toolBar {
        margin-bottom: 15px;

        button:not(last-child) {
            margin-right: 10px;
        }
    }

    .formHeader {
        margin-top: 20px;
    }

    .formActions {
        margin-top: 30px;
        button {
            margin-right: 20px;
            position: relative;
            top: 26px;
        }
    }

    .topics {
        width: 900px;
        margin-top: 40px;
    }
}
