.container {
    background-color: #f9fafd !important;
    .client-data {
        padding: 12px;
        background-color: #fafafa;
        border: #f0f0f0 1px solid;
        border-radius: 3px;
        height: 130px;
        width: 100%;
        display: flex;

        .description {
            color: gray;
        }

        label {
            [class*="anticon"] {
                margin-right: 5px;
            }
        }

        .data-1 {
            display: grid;
            width: 250px;
            h1 {
                margin-bottom: 16px;
            }
        }

        .data-2 {
            display: grid;
            height: 50px;
            text-align: center;
            margin-left: 100px;

            span {
                margin-bottom: 10px;
            }

            label {
                font-size: 15px;
            }
        }

        .buttons {
            position: relative;
            left: calc(100% - 1030px);
            top: 35px;
            display: flex;

            [class*="ant-dropdown-button"] {
                margin-left: -20px;
            }
        }
    }

    .client-control {
        position: relative;
        top: 10px;

        [class$="ant-tabs-nav"] {
            margin: 0px !important;
        }

        .overview {
            border-left: #f0f0f0 1px solid;
            border-right: #f0f0f0 1px solid;
            border-bottom: #f0f0f0 1px solid;
            height: calc(100vh - 350px);
            padding: 10px;
        }
    }
}
